

.headderfont{
    font-weight: bold;
    font-size: 36px;
    color: #33CCFF	;
    }
.headderpadding{
    padding-top: 30px; 
    padding-left: 20px;
}
.headderpaddingleft{
    padding-left: 20px;
}
.topixfont{

        font-weight: bold;
        font-size: 24px;
        color: #dbdedf	;
        
}
.page__background{
    background-color: black;
}
.list-title{
    font-weight: bold;
    font-size: 16px;
    color: #dbdedf	;
}
.subtitle{
    font-weight: bold;
    font-size: 16px;
    color: #dbdedf	;
}
.headderpageprofile{
    font-weight: bold;
    font-size: 24px;
    color: #33CCFF	;
}
}