.headderfont {
  font-weight: bold;
  font-size: 36px;
  color: #33ccff;
  text-align: center;
}
.headderpadding {
  padding-top: 30px;
  padding-left: 20px;
}
.headderpaddingleft {
  padding-left: 20px;
}
.topixfont {
  font-weight: bold;
  font-size: 24px;
  color: #dbdedf;
}
.page__background {
  background-color: black;
}
.list-title {
  font-weight: bold;
  font-size: 16px;
  color: #dbdedf;
}
.subtitle {
  font-weight: bold;
  font-size: 16px;
  color: #dbdedf;
}
.headderpageprofile {
  font-weight: bold;
  font-size: 24px;
  color: #33ccff;
}
.fontcenter {
  text-align: center;
}

#btnPackage :checked + .tabbar__button {
  color: #ffffff;
  font-size: 18px;
}
.specpackage {
  text-align: center;
  font-size: 20px;
  color: #33ccff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.icon-color-menusetting {
  color: #dbdedf;
  width: 50px;
}
.icon-color-signout {
  color: red;
  width: 50px;
}
.list-material__thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.list-material__thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid #dbdedf;
}
.list-subtitle {
  opacity: 0.75;
  font-size: 14px;
  color: #33ccff;
  padding-left: 45px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.list-title {
  -webkit-flex-basis: 100%;
  color: #dbdedf;
  font-size: 19px;
  font-weight: normal;
  padding-left: 45px;
  flex-basis: 100%;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  order: 0;
}
