.toolbar {
    background-color: black    ;
}

.tabbar {
    background-color: black;
}

:checked+.tabbar__button {
    color: #B22222	;
}

.tabbar__icon {
    font-size: 28px;
}

.page__background{
    background-color: black;
}

.active {
    background-color:black;
}

.title{
font-weight: bold;
font-size: 36px;
color: #B22222	;
}

.poster{ text-align: center;   height: 540px;width: auto;
}

.top10{
    text-align: center;
    padding-top: 28px;
    font-size: larger;
    font-weight: bold;
}

.searchPoster{
    height: 150px;width: 100px;
}

.movieTitle{
    font-size: 16px;
    font-weight: bold;
}

.movieDetail{
    font-size: 12px;
}
.rating{ padding: 0 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.star{
    text-align:center;
    padding: 0 0 0 0;    
    color: goldenrod;
    font-size: 28px;
}
.searchSize{
    width: 300px;
}



.detailPoster{
    width: 300px;
    height: 420px;
    text-align: center;

}
.posterCenter{
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titleDetail{
    font-size: 22px;
    font-weight: bold;
    
}

.detail{
    padding-top: 8px;
    font-size: 14px;
    line-height: 18px;
}

.search-input{
    background-color: white;
}
.titleDetail{
    color: white;
}

.white{
    color: white;}

.left{
    background-repeat:inherit;
}

.bwPoster{
    background-image: url("/image/bw.jpg");
    height: 420px;width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-button{
    color:white ;
}
.back-button__icon{
    fill: white;
}