<ons-page id="pageprofile">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center headderpageprofile">REPORT</div>
    </ons-toolbar>


    <div class="text-center">
        <div class="container tabbar-top editbuttom" style="text-align: center;">

            <div class="form-group pt-1">
                <h4 class="pl-5 edit-box">Topic :</h4>
                <input class="form-control form-control-sm ml-mr-auto edit-size-box" id="topic">
            </div>
            <div class="form-group">
                <h4 class="pl-5 edit-box">Description :</h4>
                <textarea class="form-control form-control-sm ml-mr-auto edit-size-box" style="height: 180px;"> </textarea>

            </div>

        </div>
    </div>

    <div class="pt-1">
        <p class="text-center">
            <button type="submit" class="btn btn-danger reportbtn">SEND REPORT</button>
        </p>
    </div>

</ons-page>