<ons-page id="pageprofile">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center headderpageprofile">SETTING</div>
    </ons-toolbar>
    <div class="container pt-3">
        <ul class="list">
            <li class="list-header list-edit-subtitle">Video playback</li>
            <li class="list-item list-item--chevron page__background_gray">
                <div class="list-item__center">Using the Internet</div>
                <div class="list-item__right list-item--chevron__right">
                    <div class="list-item__label">Auto</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container pt-3">
        <ul class="list">
            <li class="list-header list-edit-subtitle">Notifications</li>
            <li class="list-item page__background_gray">
                <div class="list-item__center">Notifications allowed</div>
                <div class="list-item__right">
                    <label class="switch">
            <input type="checkbox" class="switch__input" checked />
            <div class="switch__toggle">
              <div class="switch__handle"></div>
            </div>
          </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="container pt-3">
        <ul class="list">
            <li class="list-header list-edit-subtitle">Diagnosis</li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Check the network</div>
            </li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Technique features</div>
            </li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Internet speed test</div>
            </li>
        </ul>
    </div>
    <div class="container pt-3">
        <ul class="list">
            <li class="list-header list-edit-subtitle">General settings</li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Narration</div>
            </li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Paid Tracking</div>
            </li>
            <li class="list-item list--inset__item list-item--chevron list-item--tappable page__background_gray">
                <div class="list-item__center">Payment billing</div>
            </li>
        </ul>
    </div>
</ons-page>