<ons-page id="tennett">

    <div class="container">
        <div id="watchtennet">
        </div>
    </div>



    <!-- 
    <div class="center">
        <div class="posterCenter bwPoster">
        </div>
    </div>

    <ons-list-item>

        <div class="center">
            <span class="list-item__title titleDetail white">BLACK WIDOW (2020)</span>
            <span class="list-item__subtitle detail white">Black Widow is an
                upcoming American superhero film based on the Marvel Comics character of the same name...</span>
        </div>

    </ons-list-item>
    <ons-list-item>


        <div class="center">
            <span class="list-item__title titleDetail white">CAST</span>
            <span class="list-item__subtitle detail white">Scarlett Johansson</span>
            <span class="list-item__subtitle detail white">Florence Pugh</span>
            <span class="list-item__subtitle detail white">Robert Downey Jr.</span>
            <span class="list-item__subtitle detail white">David Harbour</span>

        </div> -->
</ons-page>