<ons-page id="favorite">
    <p style="text-align: left; margin-top: 10px; margin-left:10px">
        <ons-search-input placeholder="" onchange="ons.notification.alert('Searched for: ' + this.value)"
            class="searchSize">
        </ons-search-input>
    </p>
   
        <div class="title"><b>FAVORITE</b></div>
        <ons-row class="user_cover">
        
            
            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>
    
            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>
    
            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>

            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>

            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>

            <ons-col onclick="openHome()">
                <div class="user_thumbnail">
                    <img src="/image/bw.jpg" alt="" class="searchPoster"> 
                </div>
                <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
            </ons-col>

        </ons-row>



</ons-page>