<ons-page id="home">

    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">



        <ons-page id="page1">


            <div class="container">

                <div class="whatNew"><b>What's New</b></div>
                <div id="list">
                </div>
            </div>


            <div class="container">

                <div class="whatNew"><b>Continue</b></div>
                <div id="continue">
                </div>
            </div>



            <div class="container">

                <div class="whatNew"><b>Trends</b></div>
                <div id="trends">
                </div>
            </div>


            <div class="container">

                <div class="poc"><b>Pirates of the Caribbean: Bundle</b></div>
                <div id="poc">
                </div>
            </div>

        </ons-page>
    </template>

</ons-page>