<ons-page id="home">

    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">

        <ons-page id="page1">
            <div class="whatNew "><b>What's New</b></div>

            <ons-carousel swipeable auto-scroll overscrollable id="carousel"
                style="text-align: center; background-color: black;">
                <ons-carousel-item>
                    <img src="/image/bw.jpg" alt="" class="poster" id="bw">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/image/bb.jpg" alt="" class="poster" id="bb">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/image/f9.jpg" alt="" class="poster">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/image/f99.jpg" alt="" class="poster" style="padding-right: 500px;">
                </ons-carousel-item>

            </ons-carousel>

            <div class="whatNew"><b>Continue</b></div>


        </ons-page>
    </template>

</ons-page>