<ons-page id="home">

    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">

        <ons-page id="page1">
            <div class="container">
                <div class="topicblue"><b>What's New</b></div>
                <ons-carousel swipeable auto-scroll overscrollable style="text-align: center; background-color: black;">
                    <div id="carousel"> </div>
                </ons-carousel>

            </div>


            <!-- <div class="container">

                <div class="topicblue" id="tennet"><b>What's New</b></div>
                <div id="list">
                </div>
            </div> -->


            <div class="container">
                <div class="topicblue"><b>Continue</b></div>
                    <div id="continue"> </div>

            </div>


            <!-- <div class="container">
                <div class="topicblue"><b>Continue</b></div>
                <div id="continue">
                </div>
            </div> -->

            <div class="container">
                <div class="topicblue"><b>Recommend</b></div>
                <div id="recommend">
                </div>
            </div>

            <div class="container">
                <div class="topicblue"><b>Trends</b></div>
                <div id="trends">
                </div>
            </div>


        </ons-page>
    </template>

</ons-page>