<ons-page id="settingprofile">
  <ons-navigator swipeable id="Navigator_profile" page="profile.html"></ons-navigator>
  <template id="profile.html">
    <ons-page id="profile">
      <div class="headderpaddingTop" >
      <p class="headderfont">PROFILE</p>
      </div>
      <div class="container">
        <ul class="list list--material">
          <li class="list-item list-item--material page__background">
            <div class="list-item__left list-item--material__left headderpaddingleft">
              <img
                class="list-material__thumbnail"
                src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/56196772_1931546596957661_8472358552306974720_o.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_eui2=AeEvYXA8KcZE6s0QLcpdo5Inyc_2GOTLJW3Jz_YY5MslbV96_qce8d0OusGgmwmTrFyFTpnufZZHl4w7H41xI9oK&_nc_ohc=CnorxfKI_2oAX92h4Ih&_nc_ht=scontent.fbkk14-1.fna&oh=ab19c85a477776e3e498679804c66dfe&oe=5F9AEF79"
                alt="Cute kitten"
              />
            </div>
            <div class="list-item__center list-item--material__center">
              <div class="list-title">
                WATTANA PONGPEAW
              </div>
              <div class="list-subtitle">
                PREMIUM : 17 Day Left
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div class="headderpadding" id="editprofile">
          <ul> 
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-account icon-color-menusetting"
                  ></i>
                  Edit Profile
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="headderpadding" id="packageprofile">
          <ul>
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-shopping-cart icon-color-menusetting"
                  ></i>
                  Package
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="headderpadding" id="settingprofile">
          <ul>
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-settings icon-color-menusetting"
                  ></i>
                  Setting
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="headderpadding" id="helpprofile">
          <ul>
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-help icon-color-menusetting"
                  ></i>
                  Help
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="headderpadding" id="reportprofile">
          <ul>
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-flag icon-color-menusetting"
                  ></i>
                  Report
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="headderpadding" id="signout">
          <ul>
            <li class="list-item list-item--chevron page__background">
              <div class="list-item__center">
                <div class="list-item__title topixfont">
                  <i class="zmdi zmdi-power icon-color-signout"
                  ></i>
                  Sign Out
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ons-page>
  </template>
</ons-page>