<ons-page id="settingprofile">
  <ons-navigator swipeable id="Navigator_profile" page="profile.html"></ons-navigator>
  <template id="profile.html">
    <ons-page id="profile">
      <p style="text-align: center" class="headderfont">PROFILE</p>
      <div class="container">
        <ul class="list list--material">
          <li class="list-item list-item--material page__background">
            <div class="list-item__left list-item--material__left headderpaddingleft">
              <img
                class="list-item--material__thumbnail"
                src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/56196772_1931546596957661_8472358552306974720_o.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_eui2=AeEvYXA8KcZE6s0QLcpdo5Inyc_2GOTLJW3Jz_YY5MslbV96_qce8d0OusGgmwmTrFyFTpnufZZHl4w7H41xI9oK&_nc_ohc=CnorxfKI_2oAX92h4Ih&_nc_ht=scontent.fbkk14-1.fna&oh=ab19c85a477776e3e498679804c66dfe&oe=5F9AEF79"
                alt="Cute kitten"
              />
            </div>

            <div class="list-item__center list-item--material__center">
              <div class="list-item__title list-item--material__title">
                Wattana pongaew
              </div>
              <div class="list-item__subtitle list-item--material__subtitle">
                PREMIUM : 17 Day Left
              </div>
            </div>
          </li>
        </ul>
        <div>
          <div class="headderpaddingleft" id="editprofile">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: #dbdedf; width: 50px"
                      class="zmdi zmdi-account"
                    ></i>
                    Edit Profile
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="headderpadding" id="packageprofile">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: #dbdedf; width: 50px"
                      class="zmdi zmdi-shopping-cart"
                    ></i>
                    Package
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="headderpadding" id="settingprofile">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: #dbdedf; width: 50px"
                      class="zmdi zmdi-settings"
                    ></i>
                    Setting
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="headderpadding" id="helpprofile">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: #dbdedf; width: 50px"
                      class="zmdi zmdi-help"
                    ></i>
                    Help
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="headderpadding" id="reportprofile">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: #dbdedf; width: 50px"
                      class="zmdi zmdi-flag"
                    ></i>
                    Report
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="headderpadding">
            <ul class="list">
              <li class="list-item list-item--chevron page__background">
                <div class="list-item__center">
                  <div class="list-item__title topixfont">
                    <i
                      style="color: red; width: 50px"
                      class="zmdi zmdi-power"
                    ></i>
                    Sign Out
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ons-page>
  </template>
</ons-page>
