<ons-page id="search">
    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search Movie" onchange="ons.notification.alert('Searched for: ' + this.value)"
            class="searchSize">
        </ons-search-input>
    </p>


    <ons-list-item>
        <div class="left">
            <img src="/image/bw.jpg" alt="" class="searchPoster"> </div>
        <div class="center white">
            <div class="movieTitle">BLACK WIDOW (2020)</div>
            <div class="movieDetail">Black Widow is an
                upcoming American superhero film based on the Marvel Comics character...</div>
            <div class="rating white">Rating :</div>

            <span class="list-item__subtitle">
                <div class="star">
                    <ons-icon icon="md-star-half"></ons-icon>
                    <ons-icon icon="md-star-outline"></ons-icon>
                    <ons-icon icon="md-star-outline"></ons-icon>
                    <ons-icon icon="md-star-outline"></ons-icon>
                    <ons-icon icon="md-star-outline"></ons-icon>
                </div>
            </span>


        </div>
    </ons-list-item>

     <ons-list-item>
        <div class="left">
            <img src="/image/bb.jpg" alt="" class="searchPoster"> </div>
        <div class="center white">
            <div class="movieTitle white">BAD BOYS FOR LIFE (2019)</div>
            <div class="movieDetail white">Bad Boys for Life is a
                2020 American action comedy film that is the sequel to Bad Boys II (2003)...
            </div>
            <div class="rating white">Rating :</div>
            <span class="list-item__subtitle">
                <div class="star">
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star-outline"></ons-icon>
                </div>
            </span>
        </div>

    </ons-list-item>




    <ons-list-item>
        <div class="left">
            <img src="/image/f9.jpg" alt="" class="searchPoster"> </div>
        <div class="center">
            <div class="movieTitle white"> FAST 9 (2021)</div>
            <div class="movieDetail white">F9 (alternatively known as Fast &
                Furious 9) is an upcoming American action film directed... </div>
            <div class="rating white">Rating :</div>
            <span class="list-item__subtitle">
                <div class="star">
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star-half"></ons-icon>
                    <ons-icon icon="md-star-border"></ons-icon>
                    <ons-icon icon="md-star-border"></ons-icon>
                </div>
            </span>
        </div>

    </ons-list-item>


    <ons-list-item>
        <div class="left">
            <img src="/image/f99.jpg" alt="" class="searchPoster"> </div>
        <div class="center">
            <div class="movieTitle white"> FAST 9 Part 2 (2023)</div>
            <div class="movieDetail white">F9 (alternatively known as Fast &
                Furious 9) is an upcoming American action film directed...</div>
            <div class="rating white">Rating :</div>
            <span class="list-item__subtitle">
                <div class="star">
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star"></ons-icon>
                    <ons-icon icon="md-star-border"></ons-icon>
                </div>
            </span>
        </div>

    </ons-list-item>
    <div class="container">
        <p style="text-align: center; margin-top: 10px;" fullscreen>
            <ons-search-input placeholder="" onchange="Src()" class="searchSize" id="Srcname">
            </ons-search-input>

        </p>



        <ons-carousel swipeable auto-scroll overscrollable id="carouselSearch" style="text-align: center; background-color: black;" item-width="105px">
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="action">Action</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="anime">Anime</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="comedy">Comedy</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="drama">Drama</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="horror">Horror</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="mystery">Mystery</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="fantasy">Fantasy</div>
            </ons-carousel-item>
            <ons-carousel-item>
                <div class="button" style="width: 100px;" id="romance">Romance</div>
            </ons-carousel-item>
        </ons-carousel>

        <ons-row class="user_cover" id="listMovie">
        </ons-row>

    </div>





</ons-page>