<ons-page id="search">
    <p style="text-align: left; margin-top: 10px; margin-left:10px">
        <ons-search-input placeholder="" onchange="ons.notification.alert('Searched for: ' + this.value)"
            class="searchSize">
        </ons-search-input>
    </p>
    <ons-carousel swipeable auto-scroll overscrollable id="carousel"
                style="text-align: center; background-color: black;" item-width="105px"> 
                    <ons-carousel-item><div class="button" style="width: 100px;">Action</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Anime</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Comedy</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Drama</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Horror</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Mystery</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Fantasy</div></ons-carousel-item>
                    <ons-carousel-item><div class="button" style="width: 100px;">Romance</div></ons-carousel-item> 
    </ons-carousel>
 
    <ons-row class="user_cover">
        
        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

        <ons-col onclick="openHome()">
            <div class="user_thumbnail">
                <img src="/image/bw.jpg" alt="" class="searchPoster"> 
            </div>
            <div class="username" id="user_2_name">BLACK WIDOW (2020)</div>
        </ons-col>

 
      </ons-row>
 
     

    
</ons-page>